            .root {
                margin: 0 auto;
                background-color: #2A2C2F;
                font-family: 'Inter', Arial, sans-serif;
                color: white;
                min-width: 1280px;
            }
            
            .content {
                background-color: #2A2C2F;
                font-family: 'Inter', Arial, sans-serif;
                margin: 0 auto;
                padding: 0;
            }
            
            .header {
                max-width: 984px;
                height: 44px;
                margin: 34px 148px 58px 148px;
                display: flex;
                justify-content: space-between;
            }
            
            .logo {
                max-width: 190px;
                height: 44px;
            }
            
            .header__tag-links {
                list-style: none;
                display: flex;
                justify-content: space-between;
            }
            
            .header__tag-link {
                color: white;
                max-width: 29px;
                font-family: Inter;
                font-size: 24px;
                line-height: 28px;
                margin-right: 18px;
                text-decoration: none;
            }
            
            .header__tag-link-unerline {
                text-decoration: underline;
            }
            
            .lead {
                display: flex;
                flex-direction: column;
                margin-bottom: 92px;
            }
            
            .lead__title {
                max-width: 720px;
                height: 200px;
                margin: 0px 280px 32px;
                font-size: 96px;
                line-height: 100px;
                text-align: center;
            }
            
            .lead__subtitle {
                max-width: 620px;
                height: 72px;
                font-size: 30px;
                line-height: 36px;
                text-align: center;
                margin: 0px 330px 64px;
            }
            
            .lead__image {
                max-width: 984px;
                height: 615px;
                margin: 0px 148px 8px;
            }
            
            .lead__caption {
                font-size: 10px;
                line-height: 14px;
                max-width: 183px;
                height: 14px;
                margin-left: 148px;
                margin-top: 0px;
                margin-bottom: 0px;
                align-items: flex-start;
                text-transform: uppercase;
            }
            
            .intro {
                margin-left: 148px;
            }
            
            .intro__title {
                max-width: 690px;
                font-weight: 900;
                font-size: 54px;
                line-height: 58px;
                margin-top: 92px;
            }
            
            .intro__text-subtitle {
                max-width: 690px;
                height: 68px;
                font-weight: normal;
                font-size: 24px;
                line-height: 34px;
                margin-bottom: 32px;
                margin-right: 442px;
            }
            
            .intro__text-main {
                max-width: 690px;
                height: 208px;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 32px;
                margin-top: 0px;
            }
            
            .intro__list {
                list-style: none;
                max-width: 690px;
                height: 72px;
                font-size: 12px;
                line-height: 18px;
                padding-left: 0px;
                margin-top: 0px;
            }
            
            .intro__lead-item {
                margin: 0px;
            }
            
            .photo-grid {
                max-width: 1184px;
                height: 671px;
                margin: 92px 48px;
                display: grid;
                grid-gap: 16px;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }
            
            .photo-grid__item {
                max-width: 284px;
                height: 213px;
            }
            
            .places {
                max-width: 984px;
                height: 3452px;
                margin-left: 148px;
                margin-bottom: 92;
            }
            
            .place {
                max-width: 984px;
                display: grid;
                margin-bottom: 80px;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, auto);
                gap: 20px 10px;
                grid-template-areas: "title link""image paragraph1" "image paragraph2""image paragraph3";
            }
            
            .place__title {
                max-width: 460px;
                font-weight: 900;
                font-size: 72px;
                line-height: 76px;
                margin-right: 40px;
                margin-bottom: 48px;
                grid-area: title;
                margin-top: 0px;
            }
            
            .place__image {
                max-width: 460px;
                height: 460px;
                margin-top: 0px;
                grid-area: image;
            }
            
            .place__website {
                max-width: 456px;
                height: 46px;
                grid-area: link;
            }
            
            .place__website_url-heading {
                max-width: 456px;
                height: 12px;
                font-weight: normal;
                font-size: 12px;
                line-height: 12px;
                letter-spacing: 0.2em;
                color: #AAAAAA;
            }
            
            .place__website_link {
                max-width: 456px;
                height: 22px;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                text-decoration-line: underline;
                color: #FFFFFF;
            }
            
            .place__paragraph_1 {
                max-width: 484px;
                font-weight: normal;
                font-size: 18px;
                line-height: 30px;
                grid-area: paragraph1;
                margin-top: 0px;
                margin-bottom: 24px;
            }
            
            .place__paragraph_2 {
                max-width: 484px;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                grid-area: paragraph2;
                margin-bottom: 24px;
                margin-top: 0px;
            }
            
            .place__paragraph_3 {
                max-width: 484px;
                font-weight: normal;
                font-size: 16px;
                line-height: 26px;
                grid-area: paragraph3;
            }
            
            .cover {
                min-width: 1184px;
                height: 740px;
            }
            
            @media screen and (max-width: 320px) {
                .page {
                    min-width: 320px;
                    background-color: #2A2C2F;
                }
            }
            
            @media screen and (min-width: 321px) and (max-width: 768px) {
                .page {
                    min-width: 768px;
                    background-color: #2A2C2F;
                }
            }
            
            @media screen and (min-width: 769px) and (max-width: 1024px) {
                .page {
                    min-width: 1024px;
                    background-color: #2A2C2F;
                }
            }