    @import url("./__title/__title.css");
    @import url("./__image.css/__image.css");
    @import url("./__paragraph/__paragraph.css");
    @import url("./__website/__website.css");
    @import url("./__link/__link.css");
    @import url("./__url-heading/__url-heading.css");
    .place {
        max-width: 984px;
        margin: auto;
        display: grid;
        margin-bottom: 80px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px 10px;
        grid-template-areas: "title link" "image paragraph" "image paragraph" "image paragraph";
    }
    
    @media screen and (min-width: 769px) and (max-width: 1024px) {
        .place {
            margin: 0px 48px 80px;
            max-width: 928px;
        }
    }
    
    @media screen and (min-width: 321px) and (max-width: 768px) {
        .place {
            margin: 0px 24px 72px;
            max-width: 720px;
        }
    }
    
    @media screen and (max-width:320px) {
        .place {
            display: flex;
            flex-direction: column;
            max-width: 320px;
            margin-bottom: 48px;
        }
        .place:last-child {
            margin-bottom: 0px;
        }
    }