.cover__subtitle {
    max-width: 320px;
    min-height: 66px;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    width: 320px;
    text-align: center;
    margin: 0;
    z-index: 2;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin: 16px 16px 50px;
    }
}