.lead__title {
    max-width: 720px;
    margin: 0px 280px 32px;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .lead__title {
        margin: 0px 152px 32px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .lead__title {
        margin: 0px 24px 32px;
    }
}

@media screen and (max-width:320px) {
    .lead__title {
        margin: 0px 16px 16px;
        font-size: 40px;
        line-height: 44px;
    }
}