.place__image {
    max-width: 460px;
    height: 460px;
    margin-top: 0px;
    grid-area: image;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
        height: 440px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .place__image {
        max-width: 340px;
        height: 340px;
    }
}

@media screen and (max-width:320px) {
    .place__image {
        max-width: 320px;
        height: 320px;
        margin-bottom: 32px;
    }
}