            .photo-grid__items {
                list-style: none;
                display: grid;
                grid-gap: 16px;
                grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
                grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
                padding: 0px;
            }
            
            @media screen and (min-width: 769px) and (max-width: 1024px) {
                .photo-grid__items {
                    grid-gap: 14px;
                }
            }
            
            @media screen and (max-width:320px) {
                .photo-grid__items {
                    gap: 12px;
                }
            }