.lead__caption {
    font-size: 10px;
    line-height: 14px;
    max-width: 183px;
    margin-left: 148px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: flex-start;
    text-transform: uppercase;
}